// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.facebook-button {
  background-color: $tufts-blue;
  color: $white;
}

.google-button {
  background-color: $white;
  color: $black;
}
