@import '../../../scss/main';

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem 1rem;

  @include screen(lg) {
    padding: 0.5rem 4rem;
  }

  .MenuDesktop {
    background-color: transparent;
    border-color: transparent;

    flex: 0 0 25%;
    justify-content: right;
  }
}

.MenuDrawer {
  :global(.ant-drawer-title) {
    display: flex;
    align-items: center;

    & > p {
      margin-bottom: 0;
    }
  }

  :global(.ant-drawer-body) {
    padding: 0;
  }
}
